/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* Common Styles */
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

main {
  margin: 0 150px;
}

/* header styles  */

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* top header styles  */

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.primary-heading {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.top-nav li {
  display: flex;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* bottom header styles */

.bottom-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.heading-container {
  width: 40%;
}

.heading {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.heading-description {
  color: #727272;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.primary-btn {
  background-color: #FF900E;
  border-radius: 8px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 21px;
  margin-top: 32px;
}

.banner {
  width: 70%;
  margin: 50px 0 45px 0;
}

/* quick list section styles */
.quick-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.quick-list-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 73px;
}

.quick-list-image img {
  width: 100%;
}

.quick-list-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 25%;
}

.quick-list-heading,
.primary-heading,
.heading-description {
  text-align: left;
}

.primary-heading-quick-list {
  color: #727272;
}

.primary-heading-features {
  color: #FF900E;
}

/* Features sections */
.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;

}

.features-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 130px;
}

.features-left-side .primary-heading {
  display: flex;
}

.vl {
  border-left: 6px solid #FF900E;
  height: 100%;
  margin-right: 20px;
}

.feature {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
}

.feature h4 {
  font-weight: 600;
  font-size: 20px;
}

.features-right-side {
  width: 50%;
}

.features-right-side .banner {
  width: 100%;
}

.features-down-button {
  position: relative;
  left: 850px;
  top: -200px;
}

.features-down-button .primary-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 65px;
}

.features-down-button .experience-btn {
  font-weight: 500;
  font-size: 25px;
}

/* Facts Sections */
.facts {}

/* Boxes  */
.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  width: 241.83px;
  height: 241.83px;
}

.box h3 {
  font-weight: 600;
  font-size: 45px;
}

/* sponsors logo */
.sponsor-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Footer styles */
footer {
  background-color: #FFF4E7;
  border-radius: 8px;
  width: 70%;
  margin: 0 250px;
}

footer .footer-description {
  color: #424242;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 39px 0;
}

/* Responsive  */
@media only screen and (max-width:576px) {
  body {
    width: 100%;
  }
  main{
    margin: auto;
  }

  .top-header {
    display: flex;
    flex-direction: column;
  }

  .primary-heading {
    font-size: 25px;

  }

  .top-nav li {
    display: flex;
    flex-direction: column;
  }

  .top-nav li:hover {
    background-color: #cfc9c9;
  }

  .heading-container {
    width: 100%;
  }

  .heading {
    font-size: 30px;
  }

  .heading-description {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  .quick-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quick-list-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 50%;
    margin: 0;
  }

  .quick-list-image img {
    width: 100%;
  }

  .quick-list-heading {
    width: 70%;
    text-align: center;
  }
.features-container{
  display: flex;
  flex-direction:column-reverse;
  margin: 0;
}
.features-right-side{
  width: 70%;
}
.features-left-side{
  margin: 0;
}
.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sponsor-logo{
  display: flex;
  flex-direction: column;
}
.boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  width: 50%;
}
  footer{
    margin: 0;
    width: 100%;
  }
}